body {
    font-family: "Montserrat", "Avenir";
}

.container {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#result {
    display: inline-block;
}

button {
    margin: 20px;
}

label {
    margin: 30px;
    display: inline-block;
}